# Changes to these paths need a review from the maintainer.
*                     @sameeralam3127
/.github/             @sameeralam3127
/install.sh           @sameeralam3127
/uninstall.sh         @sameeralam3127
/lib/                 @sameeralam3127
